body{
  font-family: Times New Roman, serif;
  margin: 0;
}
.header{  
  color: white;
  padding: 20px;
  text-align: left;
  background: lightblue;
  font-family: fantasy;
}
.header h1{
  font-size: 50px;
  font-weight: light;
}
.navbar{
  overflow: hidden;
  display: flex;
  background-color: #333;
}
.navbar a{
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}
.navbar a.right{
  float: right;
  color: blue;
  background-color: white;
}
.navbar a:hover{
  background-color: #ddd;
  color: black;
}
.container{
  border-radius: 5px;
  padding: 20px;
}
.contact-box{
  background: #f9f9f9;
  display: flex;
}
.contact-left{
  flex-basis:60%;
  padding: 40px 50px;
}
.contact-right{
  flex: basis 40%;
  padding: 40px 100px;
  background: lightblue;
  color: white;
}
h1{
  margin-bottom: 20px;
}
.container p{
  margin-bottom: 40px;
}
.input-container{
  position: relative;
  margin: 1rem 0
}
input{
  width:100%;
  padding: 10px;
}
textarea{
  width: 100%;
  border: 1px solid black;
  outline: none;
  padding: 10px;
  box-sizing: border-box;
  resize: vertical;
}
label{
  display: block;
  margin-bottom: 6px;
  color: #333;
}
.btn{
  background-color: blue;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.btn:hover{
  background-color: darkblue;
}
.contact-right h2{
  color: white;
  font-size: 24px;
  margin-bottom: 20px;
}
.contact-left h2{
  font-size: 18px;
  margin-bottom: 10px;
}
tr td::first-child{
  padding-right: 20px;
}
tr td{
  padding-top: 20px;
}
.footer{
  padding: 20px;
  text-align: center;
  background: black;
  color: white;
  width: 100%;
}
.card-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
} 
.card{
  width: 300px;
  background: #f0f0f0;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 20px;
}
.card img{
  width: 100%;
  height: auto;
}
.card-content{
  padding: 20px;
}
.card-content h2{
  font-size: 28px;
  margin-bottom: 10px;
  text-align: center;
}
.card-content p{
  font-size: 16px;
  color: #333;
  line-height: 1.3;
}
.home{
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://img.magnific.com/premium-photo/dj-mixing-outdoors-beach-party-festival_1047188-1054.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}
.home h1{
  font-size: 50px;
}
.home p{
  font-size: 20px;
  margin: 20px 0;
}
.home .btn{
  background-color: lightblue;
  color: white;
  padding: 10px 20px;
  letter-spacing: 1px;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  border-radius: 5px;
}
.home .btn:hover{
  background-color: darkblue;
  color: white;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.abt{
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 75px auto;
  text-align: center;
}
.title{
  font-size: 28px;
  margin-bottom: 10px;
}
.title h1{
  font-size: 28px;
  margin-bottom: 10px;
  text-align: center;
}
.title h1::after{
  content: '';
  display: block;
  width: 50px;
  height: 3px;
  background-color: black;
  margin: auto;
}
.title p{
  font-size: 16px;
  color: #333;
  line-height: 1.3;
  text-align: center;
}
.colum{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 0px 20px;
  padding: 20px 20px;
  background-color: lightblue;
  border-radius: 10px;
  cursor: pointer;
}
.colum:hover{
  background-color: darkblue;
  color: white;
}
.colum .icon{
  font-size: 50px;
  margin-bottom: 20px;
}
.colum h2{
  font-size: 24px;
  margin-bottom: 10px;
}
.colum p{
  font-size: 16px;
  color: white;
  line-height: 1.3;
}
.colum hr{
  width: 50px;
  border: 1px solid white;
  margin: 20px auto;
}
@media screen and (max-width: 950px) {
  .abt{
    display: flex;
    flex-direction: column;
  }
  .colum{
    width: 80%;
    margin: 20px 0;
    display: flex;
  }
}